<section class="rooms p-4">
  <h2 class="mb-4">Rooms</h2>
  <div class="rooms-btn d-flex justify-content-between">
    <div class="room rooms-btn-left">
      <form role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
      </form>

      <div class="rooms-btn-left-icons">
        <div class="btn-icon text-primary">
          <i class="bi bi-funnel"></i>
        </div>
        <div class="btn-icon text-primary">
          <i class="bi bi-sort-alpha-down"></i>
        </div>
        <div class="btn-icon text-primary">
          <i class="bi bi-sort-alpha-up"></i>
        </div>
      </div>
    </div>
    <div class="room btn-right"><button class="btn btn-primary">Add Room</button></div>
  </div>
</section>
