<!-- Button trigger modal -->

<section class="header">
    <h2 class="mb-4">{{ activePage }}</h2>
  <div class="rooms-btn d-md-flex justify-content-between">
    <div class="header-btn-left">
      <form role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
          (input)="onSearch($event)"
        />
      </form>

      <div class="header-btn-left-icons">
        <div class="btn-icon text-primary" [ngClass]="{ 'active' : isAscending === true  }" (click)="onSortClickAscending()">
          <i class="bi bi-sort-alpha-down"></i>
        </div>
        <div class="btn-icon text-primary"   [ngClass]="{ 'active': isAscending === false }" 
        (click)="onSortClickDescending()">
          <i class="bi bi-sort-alpha-up"></i>
        </div>
        <div class="btn-icon text-primary reset-filter" title="reset filter" *ngIf="isAscending !== null"
        (click)="onResetFilter()">
          <i class="bi bi-x-circle"></i>
        </div>
      </div>
    </div>
    <div class="btn-right mt-2 mt-md-0">
      <button  type="button" class="btn btn-primary" (click)="openModal()">
        <i class="bi bi-plus-circle me-2"></i>{{'button.add' | translate: {currentPage: activePage} }}
      </button>
    </div>
  </div>