<div class="mt-4 table-responsive" *ngIf="dynamicTableData">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th *ngFor="let header of dynamicTableData.headers">{{ header }}</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of dynamicTableData.rows">
        <td *ngFor="let header of dynamicTableData.headers">
          <span [ngClass]="setStatusStyle(header, row[header])">{{
            row[header]
          }}</span>
        </td>
        <td class="icon">
          <i class="bi bi-trash3 icon-delete" (click)="onDelete(row)"></i
          ><i class="bi bi-pencil icon-update"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>


