aside {
  margin-top: 24px;
  position: sticky;

  .active {
    color: #ffffff !important;
    // background-color: #10906170;
  }

  ul {
    padding: 0;
    
  }

  li {
    list-style: none;
    cursor: pointer;
    width: 100%; /* Make the item take up 100% of the width */
    padding: 10px 10px 10px 32px; /* Add some padding for better appearance */
    box-sizing: border-box; /* Ensure padding is included in width calculation */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */

    &:hover {
      color: #ffffff;
      background-color: #10906170; /* Change background color on hover */
    }
    a {
      text-decoration: none;
      color: #ffffff80;
    }

    i {
      font-size: 20px;
      margin-right: 10px; /* Adjust spacing between icon and text */
    }

    span {
      display: flex; /* Use flexbox for the span as well */
      align-items: center; /* Vertically center the content within the span */
    }
  }
  
}
