<aside class="sidebar">
  <ul class="menu">
    <li class="menu-item">
      <a
        routerLink="/home"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <span
          ><i class="bi bi-speedometer2 me-3"></i><span class="sidebar-text">Dashboard</span>
        </span>
      </a>
    </li>
    <li class="menu-item">
      <a routerLink="/room-timeline" routerLinkActive="active">
        <span
          ><i class="bi bi-calendar3 me-3"></i> <span class="sidebar-text">Room Timeline</span></span
        >
      </a>
    </li>
    <li class="menu-item">
      <a routerLink="/rooms" routerLinkActive="active">
        <span><i class="bi bi-door-closed me-3"></i> <span class="sidebar-text">Rooms</span></span>
      </a>
    </li>
    <li class="menu-item">
      <a routerLink="/guests" routerLinkActive="active">
        <span><i class="bi bi-people me-3"></i> <span class="sidebar-text">Guests</span></span>
      </a>
    </li>
    <li class="menu-item">
      <a routerLink="/personnel" routerLinkActive="active">
        <span
          ><i class="bi bi-person-badge me-3"></i> <span class="sidebar-text">Personnel</span></span
        >
      </a>
    </li>
    <li class="menu-item">
      <a routerLink="/history" routerLinkActive="active">
        <span
          ><i class="bi bi-clock-history me-3"></i> <span class="sidebar-text">History</span></span
        >
      </a>
    </li>
  </ul>
</aside>
