aside {
  margin-top: 24px;
  position: sticky;
  top: 0;

  .active {
    color: #ffffff !important;
  }

  ul {
    padding: 0;
  }

  li {
    list-style: none;
    cursor: pointer;
    width: 100%;
    padding: 10px 10px 10px 22px;
    box-sizing: border-box;
    transition: background-color 0.3s ease;
    @media (min-width: 767.98px) {
      padding-left:32px;
    }

    &:hover {
      color: #ffffff;
      background-color: #10906170;
    }

    a {
      text-decoration: none;
      color: #ffffff80;
      display: flex;
      align-items: center;

      i {
        font-size: 20px;
        margin-right: 10px;

        @media (max-width: 767.98px) {
          margin-right: 0;
        }
      }

      span {
        @media (max-width: 767.98px) {
          .sidebar-text {
            display: none;
          }
        }
        @media (min-width: 768px) {
          display: inline;
        }
      }
    }
  }
}
