<aside class="">
  <ul class="menu">
    <li class="menu-item">
      <a  routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <span><i class="bi bi-speedometer2 me-3"></i> Dashboard</span>
      </a>
    </li>
    <li class="menu-item">
      <a routerLink="/room-timeline" routerLinkActive="active">
        <span><i class="bi bi-calendar3 me-3"></i> Room Timeline</span>
      </a>
    </li>
    <li class="menu-item">
      <a routerLink="/rooms" routerLinkActive="active">
        <span><i class="bi bi-door-closed me-3"></i> Rooms</span>
      </a>
    </li>
    <li class="menu-item">
      <a routerLink="/guests" routerLinkActive="active">
        <span><i class="bi bi-people me-3"></i> Guests</span>
      </a>
    </li>
    <li class="menu-item">
      <a routerLink="/personnel" routerLinkActive="active">
        <span><i class="bi bi-person-badge me-3"></i> Personnel</span>
      </a>
    </li>
    <li class="menu-item">
      <a routerLink="/history" routerLinkActive="active">
        <span><i class="bi bi-clock-history me-3"></i> History</span>
      </a>
    </li>
    <!-- <li class="menu-item">
      <span><i class="bi bi-box-arrow-right me-3"></i> Logout</span>
    </li> -->
  </ul>
</aside>
