<app-loading-spinner [isLoading]="isLoading"></app-loading-spinner>
<app-pop-up-modal (confirmed)="onDeleteRow($event)"></app-pop-up-modal>
<section class="p-4 mb-5">
  <div class="w-auto">
    <app-dynamic-header class="w-auto"></app-dynamic-header>
  </div>

  <div class="dynamic-table w-auto">
    <ng-container *ngIf="!noDataToDisplay && !isLoading; else noData">
      <app-dynamic-table [dynamicTableData]="rooms$ | async" (deleteRow)="onDeleteRow($event)"></app-dynamic-table>
    </ng-container>
    <ng-template #noData>
      <ng-container *ngIf="!isLoading">
        <h3 class="text-center py-5">{{'common.nodata' | translate}}</h3>
      </ng-container>
    </ng-template>
  </div>
  <div>
    <app-pagination *ngIf="!isLoading && !noDataToDisplay" [currentPage]="currentPage" [totalPages]="totalPages"
      (pageChanged)="onPageChange($event)"></app-pagination>
  </div>
</section>