.login {
  position: absolute !important;
  padding: 0 50px;
  height: 100vh;
  width: 100vw;
  display: flex; /* Allow flexbox for alignment */
  justify-content: center;
  align-items: center;
}

.login-form-wrapper {
  flex: 1;
}

h2 {
  font-size: 90px;
}

.login-img-wrapper {
  flex: 1; /* Take up remaining space */
  min-height: 90%; /* Adjust height as needed */
  background-size: cover;
  background-position: center center; /* Adjust background position */
  background-image: url("../../assets/images/login-bg.jpg");
  border-radius: 20px;
}
